    <nav class="bb-docs-sidebar hidden-print hidden-sm hidden-xs">
      <ul class="nav bb-docs-sidenav">
        <li><a href="/docs/bcl">Bluebook Configuration Language (BCL)</a></li>
        <li>
          <ul class="nav bb-docs-sidenav-level2">
              <li><a href="/docs/bcl#block-syntax">Block syntax</a></li>
              <li><a href="/docs/bcl#expressions">Expressions</a></li>
              <li><a href="/docs/bcl#types">Types</a></li>
              <li><a href="/docs/bcl#comments">Comments</a></li>
              <li><a href="/docs/bcl#interpolation-syntax">Interpolation syntax</a></li>
          </ul>
        </li>
        <li><a href="/docs/cli">Bluebook Command Line Interface</a></li>
        <li><a href="/docs/variables">Variables</a></li>
        <li><a href="/docs/resources">Resources</a></li>
        <li>
          <ul class="nav bb-docs-sidenav-level2">
            <li><a href="/docs/resources/http_assertion">http_assertion</a>
            <li><a href="/docs/resources/http_variable">http_variable</a>
            <li><a href="/docs/resources/http_step">http_step</a>
            <li><a href="/docs/resources/http_test">http_test</a>
          </ul>
        </li>
      </ul>
    </nav>

