    <nav class="bb-docs-sidebar hidden-print hidden-sm hidden-xs">
      <ul class="nav bb-docs-sidenav">
        <li><a href="/docs/getting-started#download">Download</a></li>
        <li><a href="/docs/getting-started#example">Example</a></li>
      </ul>
    </nav>

