<header class="bb-navbar navbar navbar-static-top <%- locals.landing_page ? "bb-navbar-landing" : "" %>" id="top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="bb-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bb-navbar" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Bluebook</a>
    </div>
    <nav class="collapse navbar-collapse" id="bb-navbar">
      <ul class="nav navbar-nav">
        <li><a href="/docs/getting-started">Getting Started</a></li>
        <li>
          <a href="/docs/">Documentation</a>
          <ul class="hidden-md hidden-lg">
            <%- partial(locals.sidenav_template || "./docs-sidenav") %>
          </ul>
        </li>
        <li><a href="https://github.com/bluebookrun/bluebook">GitHub</a></li>
        <li><a href="/bluebook-ng">Bluebook NG</a></li>
      </ul>
    </nav>
  </div>
</header>
