<div class="jumbotron">
  <h1 class="display-3">Bluebook NG</h1>
  <p class="lead">Automated API Testing, Monitoring and Alerting</p>
  <hr class="my-4">
  <p>Bluebook lets you write modular and composable API tests, that can be easily shared, deployed, and monitored to keep your systems healthy.</p>
  <p class="lead">
    <center>
        <a class="btn btn-lg btn-success" href="http://eepurl.com/cQNM_b" role="button">Join the waitlist</a>
    </center>
  </p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Reliably Test and Monitor Your Web Services</h3>
        <p class="lead">Bluebook NG provides you with powerful tools to monitor your services and APIs.
        Catch issues early and be confident that your APIs are healthy.</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h3>Integrate With the Tools You Use Everyday</h3>
        <p class="lead">Bluebook NG integrates with the tools you're already using and lets
        you do things like execute your web app tests when you push code to
        GitHub, or send alerts to Slack if failures happen.</p>
    </div>

    <div class="col-md-4 col-md-offset-2">
        <h3>Single Configuration, Multiple Environments</h3>
        <p class="lead">Write your tests once and run against any environment,
        such as <em>production</em> or <em>staging</em>.</p>
    </div>

    <div class="col-md-4">
        <h3>Simple and Fast Management</h3>
        <p class="lead">Tight integration with <a href="/docs/cli">Bluebook
        CLI</a> means fast test case management, configuration, and
        deployment.</p>
    </div>
</div>
