<div class="jumbotron">
  <h1 class="display-3">Bluebook</h1>
  <p class="lead">API Testing for Developers</p>
  <hr class="my-4">
  <p>Bluebook lets you write modular and composable API tests, that can be
  shared and depoyed to production with ease.</p>
  <p class="lead">
    <center>
        <a class="btn btn-lg btn-success" href="/docs/getting-started" role="button">Try Now</a>
    </center>
  </p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h3>Test Configuration Language</h3>
        <p class="lead">Bluebook comes with its own language for writing API tests. It removes
        lots of boilerplate you'd have to write in other languages, and let's you write
        modular and reusable test cases.</p>
    </div>
    <div class="col-md-4">
        <h3>Easy to Install</h3>
        <p class="lead">Single, statically linked binary makes installing Bluebook a breeze.
        Just download, unpack and get going.</p>
    </div>
</div>
