<div class="jumbotron">
  <h1 class="display-3">Bluebook</h1>
  <p class="lead">API Testing and Monitoring for Developers</p>
  <hr class="my-4">
  <p>Bluebook lets you write modular and composable API tests, that can be easily shared, deployed, and monitored to keep your systems healthy.</p>
  <p class="lead">
    <center>
        <a class="btn btn-lg btn-success" href="/docs/getting-started" role="button">Try Now</a>
    </center>
  </p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h3>Test Configuration Language</h3>
        <p class="lead">Bluebook comes with its own language for writing API tests. It makes
        writing tests for your APIs easy, by providing smart defaults and removing unnecessary
        boilerplate. Learn more about <a href="/docs/bcl">Bluebook Configuration Language</a>.</p>
    </div>
    <div class="col-md-4">
        <h3>Easy to Install and Use</h3>
        <p class="lead">Single, statically linked binary makes installing Bluebook a breeze.
        Just download, unpack and get going.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Service Monitoring and Automation</h3>
        <p class="lead">
        Bluebook lets you gain insight into your web application's health, performance and failing endpoints.
        Learn more about <a href="/bluebook-ng">Bluebook NG</a>.
        </p>
    </div>
</div>
