<div class="bb-docs-section" id="installation">
  <h2>Installation</h2>

  <p>At the moment there is no pre-built Bluebook binary available for download. You will have to
  install Bluebook from the <a href="https://github.com/bluebookrun/bluebook">source code</a>.
  To install Bluebook from source code you will need to have Go &gt;= 1.8 on your computer.
  Follow <a href="https://golang.org/dl/">Go installation instructions</a> on its official site.
  When Go is setup you can install Bluebook with the following command</p>

  <pre>$ go get -u github.com/bluebookrun/bluebook</pre>

  <p>If installation was successful, you should find <code>bluebook</code> in your executable path.</p>
</div>

<div class="bb-docs-section" id="installation">
  <h2>BCL evaluation</h2>

  <p>When executed, Bluebook CLI evaluates all BLC files in the current working
  directory. BCL configuration files have <code>.bcl</code> file extention.</p>
</div>
