<div class="bb-docs-section" id="variables">
  <p>Resources are building blocks for Bluebook test cases. In Bluebook, test
  configuration is meant to be composable and reusable. This section provides a
  list of ready-to-use resources for building out your API tests.</p>
</div>
